@page
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <div class="active">
            <p id="pUser">User name</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
      <div class="chat-page">
        <div class="msg-inbox">
          <div class="chats">
            <div id ="msgPage" class="msg-page">
            </div>
          </div>
          <div class="msg-bottom">
            <div class="input-group">
              <input
                id="userInput"
                type="text"
                class="form-control"
                placeholder="Write message..."
              />
              <span class="input-group-text send-icon">
                <i class="bi bi-send"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>