@page
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <div class="active">
            <p id="pUser">User name</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
      <div class="chat-page">
        <div id ="msgInbox" class="msg-inbox">
          
          </div>
        </div>
      </div>
    </div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>